.color1 {color: #ecc651;}
.color2 {color: #e7d66b;}
.color3 {color: #123869;}
.color4 {color: #126977;}
.color5 {color: #17a78e;}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(18,56,105);
    background: linear-gradient(90deg, rgba(18,56,105,1) 33%, rgba(18,105,119,1) 63%, rgba(23,167,142,1) 100%);
    color: #fff;
}

button {
    font-size: 1.8rem;
    height: 5rem;
    border-radius: 1.5rem;
    padding: 1rem;
    color: #fff;
    background-color: #123869;
    border-color: #fff;
    transition: .4s;
    cursor: pointer;
}

button:hover {
    background-color: #126977;
}

h1 {
    font-size: 5rem;
}