
<div id="main-container">
    <div class="menu-side">
      <nav id="main-nav">
        <!-- Conteúdo do menu de navegação -->
        <div class="mainnav-title-container">
          <h1>SLACA 2019</h1>
        </div>
        <img src="../assets/images/logo.png" alt="Logo da empresa SLACA">
        <ul>
          <li class="mainnav-li"><a href="#">Apresentação</a></li>
          <li class="mainnav-li"><a href="#">Comitês</a></li>
          <li class="mainnav-li"><a href="#">Autores</a></li>
          <li class="mainnav-li"><a href="#">Eixos temáticos</a></li>
          <li class="mainnav-li"><a href="#">Trabalhos</a></li>
          <li class="mainnav-li"><a href="#">Contato</a></li>
        </ul>
      </nav>
    </div>
    <div id="main-content">
      <header>
        <!-- Cabeçalho da seção -->
        <div class="main-content-title">
          <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
          <h2>
            Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
          </h2>
          <p>ISSN: 1234-5678</p>
        </div>
        <div class="main-content-avatar-language">
          <select name="language">
            <option value="PT-BR">PT-BR</option>
            <option value="EN-US">EN-US</option>
          </select>
          <div class="container-avatar">
            <div>
              <h5>Bem Vindo!</h5>
              <p>alguem12@galoascience.com</p>
            </div>
            <div class="avatar-perfil"></div>
          </div>
        </div>
      </header>
      <main>
        <!-- Conteúdo principal da seção -->
        <section class="main-container-section-1">
            <div class="sub-header-container">
                <div class="main-title-test">
                    <h2>
                      Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP
                    </h2>
                </div>
                <div class="icons-subheader">
                    <ul>
                        <li class="icon-dowload"><a href="#"><img src="../assets/icons/Download.png" alt="Icon de download"> Download</a></li>
                        <li><a href="#"><img src="../assets/icons/Estrela.png" alt="Icon de estrela"></a></li>
                        <li><a href="#"><img src="../assets/icons/doi.png" alt="Icon escrito DOI"></a></li>
                    </ul>
                </div>
            </div>
            <div class="container-video">
              <div class="image-video">
                <img src="../assets/images/Video.jpg" alt="Capa do vídeo">
                <div class="overlay"></div>
                <h2>
                  Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP
                </h2>
                <div class="avatar-video"></div>
                <div class="container-text">
                  <h3>Beatriz Christiane Melo</h3>
                  <p>FCA / Universidade Estadual de Campinas</p>
                </div>
              </div>
              <div class="details-video">
                <div class="details-title">
                  <h4>Detalhes</h4>
                </div>
                <div class="details-container-text">
                    <ul class="strong-list">
                      <li>
                        Tipo de Apresentação: <b>Postêr</b>
                      </li>
                      <li>
                        Eixo temático: <b>Alimentação e saúde (AS)</b>
                      </li>
                      <li>
                        Palavras-chave: <b>Alimentos funcionais, alimentação escolar</b>
                      </li>
                    </ul>
                    <ul class="strong-list">
                      <li>
                        <b>Autores</b>
                      </li>
                      <li>Galileu Galilei</li>
                      <li>Berta Lange de Morretes</li>
                      <li>Isaac Newton</li>
                      <li>Cesar Lattes</li>
                      <li>Steven Hawking</li>
                    </ul>
                    <ul class="transparently-list">
                      <li>Universidade Estadual de Campinas</li>
                      <li>Universidade de São Paulo</li>
                      <li>Instituto Nacional de Pesquisas Espacias</li>
                      <li>Universidade Federal do Rio de Janeiro</li>
                    </ul>
                </div>
              </div>
            </div>
        </section>
        <article class="container-resume">
            <h2>Resumo</h2>
            <div>
              <p>
                Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
                Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum.
                vel aliquet enim accumsan sit amet. Dut viverra lorem vestibulum ut.
                Phasellus condimentum orci id leo condimentum lobortis et non lorem.
                Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
                Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                <br><br>
                Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
                Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum.
                vel aliquet enim accumsan sit amet. Dut viverra lorem vestibulum ut.
                Phasellus condimentum orci id leo condimentum lobortis et non lorem.
                Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
                Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                <button class="btn-show-more" (click)="toggleTextAndButton()" *ngIf="showButton">ver mais</button>
                <span *ngIf="showRestText">
                  <br><br>
                  Phasellus condimentum orci id leo condimentum lobortis et non lorem.
                  Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                  Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
                  Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                  Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum.
                  <br><br>
                  vel aliquet enim accumsan sit amet. Dut viverra lorem vestibulum ut.
                  Phasellus condimentum orci id leo condimentum lobortis et non lorem.
                  Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                  Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                  <button class="btn-none" (click)="toggleTextAndButton()">ver menos</button>
                </span>
              </p>
            </div>
        </article>
        <article class="comments-section">
          <h2>Discussões</h2>
  
          <div class="container-comments-section">
  
            <div class="comments-section-first-state" *ngIf="btnCreateTopic">
              <h3>Compartilhe suas ideias ou dúvidas com os autores!</h3>
              <ul class="container-comments-icons">
                <li><img src="../assets/icons/Icone1.png" alt="Ícone de uma mão segurando uma planta"></li>
                <li><img src="../assets/icons/Icone2.png" alt="Ícone com duas bolhas com as letras Q e A"></li>
                <li><img src="../assets/icons/Icone3.png" alt="Ícone de 2 pessoas e uma lampâda (representando criatividade e desenvolvimento de idéias)"></li>
              </ul>
              <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a<br>
                curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
              <button class="btn-create-topic" (click)="toggleState()"><img src="../assets/icons/Criar.png" alt="ícone de mais representando a criação de um novo tópico">criar tópico</button>
            </div>
  
            <div class="comments-section-second-state" *ngIf="btnSubmitForm">
              <p>Tem um dúvida ou sujestão? Compartilhe o feedback com os autores!</p>
                <form action="">
                  <label>
                    <h3>Assunto:</h3>
                    <input class="subject" type="text" name="subject" placeholder="Defina um tópico sucinto para notificar os autores..." />
                  </label>
                  <label>
                    <h3>Conteúdo</h3>
                    <textarea name="content"></textarea>
                  </label>
                  <div>
                    <button class="button-submit" (click)="submitComments()" type="submit">Enviar</button>
                  </div>
                </form>
            </div>
  
            <div class="comments-section-third-state" *ngIf="btnResetState">
                <div class="sucess-message">
                    <h3>Seu tópico foi enviado com sucesso! :D</h3>
                    <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
                    <a href="#">Descubra outros trabalhos!</a>
                    <button (click)="toggleStateReset()" >criar novo tópico</button>
                </div>
                <div class="feedback-message">
                  <div class="card-topics">
                    <h3>Assunto da pergunta aparece aqui</h3>
                    <h4>Carlos Henrique Santos</h4>
                    <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
                    <div class="shadow-card-feedback"></div>
                    <img src="../assets/icons/Aguardando.png" alt="Ícone que que simboliza checked">
                    <h3 class="h3-shadow">Aguardando feedback dos autores</h3>
                    <a href="#">Editar tópico</a>
                  </div>
                </div>
            </div>
  
            <div class="comments-section-aswered">
  
              <div class="answered-topic-none">
                <h3>Assunto da pergunta aparece aqui</h3>
                <h4>Carlos Henrique Santos</h4>
                <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
                <div class="card-icons">
                  <img src="../assets/icons/Mais-info.png" alt="3 pontinhos para mais informações">
                  <img src="../assets/icons/Favoritar.png" alt="Ícone de coração para favoritar">
                  <p>1 like</p>
                  <button class="ops-topic-subject-none">1 resposta</button>
                </div>
              </div>
  
              <div class="answered-topic">
                <h3>Assunto da pergunta aparece aqui</h3>
                <h4>Carlos Henrique Santos</h4>
                <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
                <div class="card-icons">
                  <img src="../assets/icons/Mais-info.png" alt="3 pontinhos para mais informações">
                  <img src="../assets/icons/Favoritar.png" alt="Ícone de coração para favoritar">
                  <p>4 likes</p>
                  <button class="ops-topic-subject" (click)="toggleContainerComments()">4 respostas</button>
                </div>
                <div class="comments-container" *ngIf="containerComments">
                  <div class="author-1">
                    <h4>Adriano da Silva</h4>
                    <p>
                      Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado
                      impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo
                      formativo situado impacto de processo formativo processo.
                    </p>
                  </div>
                  <div class="author-2">
                    <h4>Carlos Henrique Santos</h4>
                    <p>
                      Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo.
                    </p>
                  </div>
                  <div class="author-1">
                    <h4>Camila Ferreira Andrade</h4>
                    <p>
                      Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de<br><br>processo formativo processo
                      resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.             
                    </p>
                  </div>
                  <div class="author-2">
                    <h4>Ana Carolina</h4>
                    <p>
                      Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado
                      impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo
                      formativo situado impacto de processo formativo processo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </main>
      <footer>
        <!-- Rodapé da seção -->
        <img src="../assets/images/Imagem-footer.png" alt="">
      </footer>
    </div>
  </div>