nav{
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

nav a{
    margin: 5px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: chartreuse;
    font-weight: bold;
}

.navbar .active{
    background-color: forestgreen;
    border: 1px solid black;
}