.game h2 {
    font-size: 2.4rem;
}

.game .tips span {
    font-size: 2.4rem;
    color: yellow;
}

.word-container {
    border: 2.4rem solid #ffea6a;
    margin-top: 3rem;
    display: flex;
    gap: .1rem;
    padding: 1rem;
    width: fit-content;
}

.game-container-word {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game .word-container .letter,
.game .word-container .white-canvas {
    height: 10rem;
    width: 10rem;
    background-color: white;
    border: 0.6rem solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

.game .input-letter h2 {
    margin-top: 4rem;
}

.game .input-letter input {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    border: .5rem solid black;
}

.game .input-letter form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrong-words-container span {
    font-size: 2rem;
}