*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Open sans', 'sans-serif';
    color: #373A3C;
}

a {
    transition: 0.5s;
}

#sidebar{
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 20rem;
    background-color: #006599;
    padding-top: 4rem;
}

#sidebar h1{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    right: 0.8rem;
}

#sidebar a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

#sidebar a:hover{
    color: rgb(255, 255, 255);
}

#sidebar li{
    padding-bottom: 2.2rem;
}

#logo--doceria{
    width: 5rem;
    height:5rem;
}


